In [1]:
#importing modules
import pandas as pd
import numpy as np
import sklearn

In [2]:

pwd

'C:\\Users\\Fahim'

In [3]:
#loading the csv file
incomeData = pd.read_csv("Income Dataset (50k).csv")

In [4]:
incomeData.shape

(43957, 15)

In [5]:
incomeData.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0

In [6]:
incomeData.isnull().sum()

age                   0
workclass          2498
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2506
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      763
income_>50K           0
dtype: int64

In [7]:
from sklearn.impute import SimpleImputer
impute = SimpleImputer(missing_values=np.nan,strategy="most_frequent")

In [8]:
impute.fit(incomeData[['workclass']])
incomeData['workclass'] = impute.transform(incomeData[['workclass']])

In [9]:
impute.fit(incomeData[['occupation']])
incomeData['occupation'] = impute.transform(incomeData[['occupation']])

In [10]:
impute.fit(incomeData[['native-country']])
incomeData['native-country'] = impute.transform(incomeData[['native-country']])

In [11]:
incomeData.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income_>50K        0
dtype: int64

In [12]:
incomeData.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0

In [13]:
incomeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43957 entries, 0 to 43956
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              43957 non-null  int64
 1   workclass        43957 non-null  object
 2   fnlwgt           43957 non-null  int64
 3   education        43957 non-null  object
 4   educational-num  43957 non-null  int64
 5   marital-status   43957 non-null  object
 6   occupation       43957 non-null  object
 7   relationship     43957 non-null  object
 8   race             43957 non-null  object
 9   gender           43957 non-null  object
 10  capital-gain     43957 non-null  int64
 11  capital-loss     43957 non-null  int64
 12  hours-per-week   43957 non-null  int64
 13  native-country   43957 non-null  object
 14  income_>50K      43957 non-null  int64
dtypes: int64(7), object(8)
memory usage: 5.0+ MB

In [14]:
incomeData['workclass'].unique()

array(['Private', 'State-gov', 'Self-emp-not-inc', 'Federal-gov',
       'Local-gov', 'Self-emp-inc', 'Never-worked', 'Without-pay'],
      dtype=object)

In [15]:
incomeData['education'].unique()

array(['Doctorate', '12th', 'Bachelors', '7th-8th', 'Some-college',
       'HS-grad', '9th', '10th', '11th', 'Masters', 'Preschool',
       '5th-6th', 'Prof-school', 'Assoc-voc', '1st-4th', 'Assoc-acdm'],
      dtype=object)

In [16]:
incomeData['marital-status'].unique()

array(['Divorced', 'Never-married', 'Married-civ-spouse', 'Widowed',
       'Separated', 'Married-spouse-absent', 'Married-AF-spouse'],
      dtype=object)

In [17]:
incomeData['occupation'].unique()

array(['Exec-managerial', 'Other-service', 'Transport-moving',
       'Adm-clerical', 'Machine-op-inspct', 'Sales', 'Handlers-cleaners',
       'Farming-fishing', 'Protective-serv', 'Prof-specialty',
       'Craft-repair', 'Tech-support', 'Priv-house-serv', 'Armed-Forces'],
      dtype=object)

In [18]:
incomeData['relationship'].unique()

array(['Not-in-family', 'Own-child', 'Husband', 'Wife', 'Unmarried',
       'Other-relative'], dtype=object)

In [19]:
incomeData['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Other',
       'Amer-Indian-Eskimo'], dtype=object)

In [20]:
incomeData['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [21]:
incomeData['native-country'].unique()

array(['United-States', 'Japan', 'South', 'Portugal', 'Italy', 'Mexico',
       'Ecuador', 'England', 'Philippines', 'China', 'Germany',
       'Dominican-Republic', 'Jamaica', 'Vietnam', 'Thailand',
       'Puerto-Rico', 'Cuba', 'India', 'Cambodia', 'Yugoslavia', 'Iran',
       'El-Salvador', 'Poland', 'Greece', 'Ireland', 'Canada',
       'Guatemala', 'Scotland', 'Columbia', 'Outlying-US(Guam-USVI-etc)',
       'Haiti', 'Peru', 'Nicaragua', 'Taiwan', 'France',
       'Trinadad&Tobago', 'Laos', 'Hungary', 'Honduras', 'Hong',
       'Holand-Netherlands'], dtype=object)

In [22]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

In [23]:
incomeData['workclass'] = enc.fit_transform(incomeData['workclass'])
incomeData['education'] = enc.fit_transform(incomeData['education'])
incomeData['marital-status'] = enc.fit_transform(incomeData['marital-status'])
incomeData['occupation'] = enc.fit_transform(incomeData['occupation'])
incomeData['relationship'] = enc.fit_transform(incomeData['relationship'])
incomeData['race'] = enc.fit_transform(incomeData['race'])
incomeData['gender'] = enc.fit_transform(incomeData['gender'])
incomeData['native-country'] = enc.fit_transform(incomeData['native-country'])

In [24]:
print(incomeData[['workclass', 'education','marital-status','occupation','relationship','race','gender','native-country']].head())

   workclass  education  marital-status  occupation  relationship  race  \
0          3         10               0           3             1     4
1          3          2               4           7             3     4
2          3          9               2           3             0     4
3          6          5               2          13             0     4
4          6         15               4           7             1     2

   gender  native-country
0       1              38
1       1              38
2       1              38
3       1              38
4       1              38

In [25]:
x = incomeData.drop(columns='native-country', axis=1)
y = incomeData['native-country']

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [27]:
x_train, x_test, y_train, y_text = train_test_split(x, y, test_size=0.2, random_state=1)

In [28]:
scaler = MinMaxScaler()
scaler.fit(x_train)
x_train_scaled = scaler.transform(x_train)

In [29]:
print("per-feature minimum after scaling:\n {}".format(
    x_train_scaled.min(axis=0)))
print("per-feature maximum after scaling:\n {}".format(
    x_train_scaled.max(axis=0)))

per-feature minimum after scaling:
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
per-feature maximum after scaling:
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [30]:
x_test_scaled = scaler.transform(x_test)